<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    {{ $style := resources.Get "css/main.sass" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <nav>
      <div class="menu">
        <ul>
          <li><a href="{{ "/" | absURL }}">Home</a></li>
          <li><a href="{{ "books/" | absURL }}">Books</a></li>
          <li><a href="{{ "now/" | absURL }}">Now</a></li>
        </ul>
      </div>
      <div class="search">
        <form action="https://www.google.com/search" method="get">
          <input class="input" type="text" name="q" value="" placeholder="Search..." />
          <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
        </form>
      </div>
    </nav>
    <section>
      {{ block "main" . }}{{ end }}
    </section>
  </body>
</html>
