{{ define "main" }}
<article>
  <header class="content">
    <h1 class="title is-1">{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </header>
  <main class="content">
    {{ .Content }}

    {{ $all_pages := .Pages }}
    {{ range $category := where $.Site.Data.categories "type" .Type }}
    {{ with $pages := where $all_pages ".Params.category" $category.name }}
    <h1>{{ humanize $category.name | title }}</h1>
    <ul>
      {{ range ($pages.ByDate.ByParam "rating").Reverse }}
      {{ .Render "li" }}
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </main>
</article>
{{ end }}
