{{ define "main" }}
<article>
  <header class="content">
    <h1 class="title is-1">{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </header>
  <main class="content">
    {{ .Content }}

    {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
    {{ $pages := where $taxonomy.Pages ".Type" $.Page.Type }}
    {{ if $pages }}
    <h1>{{ humanize $key }}</h1>
    <ul>
      {{ range ($pages.ByParam "rating").Reverse }}
      {{ .Render "li" }}
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </main>
</article>
{{ end }}
