{{ define "main" }}
<article>
  <header class="content">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    {{ .Render "header" }}
  </header>
  {{ if .Param "toc" }}
  <aside class="content">
    {{ .Render "toc" }}
  </aside>
  {{ end }}
  <main class="content">
    {{ .Content }}
  </main>
  <footer class="content">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h1>See Also</h1>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    <small><p>Last updated on {{ .Lastmod.Format "January 2, 2006" }}.</p></small>
  </footer>
</article>
{{ end }}
